@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.top-bar {
  height: 75px;
  font-size: 36px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 30px;
  padding: 0px 10px;
}
h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 65px;
  line-height: 75px;
  margin: 20px 0;
  padding: 0px 10px;
}

h2 {
  font-size: 32px;
}

.bold-text {
  font-weight: 700;
}

.content-container {
  margin: 100px 0px;
  padding: 0px 10px;
}

.text-centered {
  text-align: center;
}

.content-container img {
  width: 100%;
}

.btn {
  text-decoration: none;
  display: block;
  width: 200px;
  padding: 15px 0;
  border-radius: 50px;
  margin: 40px auto;
}

.btn-primary {
  background-color: #4b5092;
  color: white;
  font-weight: 900;
}

.btn-secondary {
  background-color: white;
  color: #436baa;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 20px 20px;
}

.inside-container {
  padding: 50px 10px;
  text-align: left;
  background-color: #f2f8ff;
}

.gym-instructor {
  padding: 50px 10px 0px 10px;
  background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
}

#Alexander-Arnold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #111235;
}

.experience-years {
  margin: 20px 0px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #111235;
  text-align: center;
}

.summary {
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
  color: #111235;
}

.round-container-blue {
  background-color: #f2f8ff;
  padding: 40px 54px 70px 42px;
  margin: 50px 16px;
  border-radius: 30px;
}

.round-container-purple {
  background-color: #d7dcf8;
  padding: 40px 54px 70px 42px;
  margin: 50px 16px;
  border-radius: 30px;
}
