@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.top-bar {
  height: 120px;
  font-size: 36px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 30px;
  padding: 0px 10px;
}
h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 50px;
  line-height: 75px;
  margin: 20px 0;
  padding: 0px 10px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-weight: normal;
  margin: 60px 0px;
}

.bold-text {
  font-weight: 700;
}

.content-container {
  margin: 100px 0px;
  padding: 0px 25px;
}

.text-centered {
  text-align: center;
}

.content-container img {
  width: 100%;
}

.btn {
  text-decoration: none;
  display: block;
  width: 200px;
  padding: 15px 0;
  border-radius: 50px;
  margin: 40px auto;
}

.btn-primary {
  background-color: #4b5092;
  color: white;
  font-weight: 900;
}

.btn-secondary {
  background-color: white;
  color: #436baa;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 20px 20px;
}

.separate-container {
  padding: 50px 20px;
  text-align: left;
  background-color: #f2f8ff;
}

.gym-instructor {
  background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
}

#Alexander-Arnold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #111235;
}

.experience-years {
  margin: 20px 0px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #111235;
}

.summary {
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
  color: #111235;
}

#special-indent {
  margin: 20px 20px;
}

.panel {
  padding: 10px 20px 20px 20px;
  margin: 15px 5px;
  border-radius: 30px;
}

.round-container-blue {
  background-color: #f2f8ff;
}

.round-container-purple {
  background-color: #d7dcf8;
}

.footer {
  border-top: 1px solid black;
  background-color: #f2f8ff;
  padding: 30px 0px;
}

.email {
  border: none;
  margin: 20px 0px;
  padding: 20px 20px;
  width: 50%;
  border-radius: 5px;
  background: url("https://assets.codepen.io/6060109/icon-send.png") white 95%
    50% no-repeat;
}

.mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.icons {
  background-color: rgba(128, 173, 245, 0.2);
  height: 32px;
  width: 32px;
  border-radius: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copyright {
  margin: 50px 0px;
}

.top-menu {
  display: none;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 992px) {
 body{
   max-width: 1500px;
 }

 .outer-container {
  margin: 0 5%;
}

 .top-bar {
   box-shadow: none;
   display: flex;
   justify-content: space-between;
 }

 .top-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style-type: none;
   width: 30%;
   font-size:large;
 }
 
 .first-desktop-section {
   display:flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row-reverse;
 }

 .first-desktop-section img {
   width: 40%;
 }

 .first-desktop-text {
   width: 60%;
   text-align: left;
 }

 .first-desktop-text a {
   margin-left: 0;
 }

 .second-desktop-section {
   display: flex;
   justify-content: space-between;
 }

 .second-desktop-section img {
   width: 50%;
 }

 .second-desktop-section .separate-container {
   width: 40%;
   border-radius: 25px;
 }

 .third-desktop-section {
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
 }

 .third-desktop-section .third-desktop-text {
   width: 40%;
   text-align: left;
   /* padding-right: 100px; */
 }

 .third-desktop-section img {
  width: 40%;
  padding-right: 100px;
}

.third-desktop-text a {
  margin-left: 0;
}

.panels-img-container{
  margin-top: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.panels-img-container img{
  width: 30%;
}

.panels {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.panel {
  width: 40%;
  flex-wrap:wrap;
  box-sizing: border-box;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

.desktop-footer {
  display: flex;
 justify-content: space-between;
 align-items:flex-start; 
}

.desktop-footer-second{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}

.desktop-footer-third {
  text-align: left;
  display: block;
  width: 30%;

}

}