@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.max-strong {
  height: 75px;
  font-size: 36px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 30px;
}
h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 65px;
  line-height: 75px;
  margin: 20px 0;
}

h2 {
  font-size: 32px;
}

.bold-text {
  font-weight: 700;
}

.all-container {
  margin: 40px 15px;
}

.text-centered {
  text-align: center;
}

.all-container img {
  width: 100%;
}

.btn {
  text-decoration: none;
  display: block;
  width: 200px;
  padding: 15px 0;
  border-radius: 50px;
  margin: 40px auto;
}

.btn-primary {
  background-color: #4b5092;
  color: white;
}
